<strong>Hi {{ provider }}</strong>
<p>There was a cancellation, check out the details below:</p>
<p>
  <strong>Client: </strong> {{ user }} <br />
  <strong>Date/hour: </strong> {{ date }} <br />
  <br>
  <small>
    The time is again available for new scheduling.
  </small>
</p>
